/* adjustable settings */

:root {
  --palette-pure-white: #fff;
  --palette-favorites-black: #292929;
  --palette-background-grey: #f3f5f7;
  --palette-alterplates-blue: #87bcde;
  --palette-license-plate-blue: #123b7d;
  --palette-california-red: #e21212;
  --font-dm-sans: 'DM Sans', sans-serif;
  --font-lexend: lexend, sans-serif;
  --font-sofia-sans: 'Sofia Sans Extra Condensed', sans-serif;
  --main-bg-color: var(--palette-background-grey);
  --text-color: var(--palette-favorites-black);
  --logo-color: var(--palette-pure-white);
  --plate-text-color: var(--palette-license-plate-blue);
}

::backdrop {
  background: rgba(41, 41, 41, 0.5);
}

body {
  /* scrollbar shift hotfix */
  width: 100vw;
  overflow-x: hidden;
  background-color: var(--main-bg-color);
}

/* colors */
header,
button,
a.button {
  background-color: #87bcde;
  color: white;
}

.fa-pen {
  color: #87bcde;
  font-size: 1.5rem;
}

#delete-entry {
  color: #e21212;
  font-size: calc(7rem / 8);
  text-decoration: underline;
}

#cancel {
  margin-left: 0;
  margin-right: auto;
  background-color: #b6b6b6;
}

#confirm {
  background-color: #dc2626;
}

/* text */

/* headings */
h1,
h2,
h3 {
  font-family: 'Proza Libre', sans-serif;
}

h1 {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: var(--font-lexend);
  color: var(--logo-color);
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  font-family: var(--font-dm-sans);
  color: var(--text-color);
}

/* content */
label {
  font-family: 'Proza Libre', sans-serif;
  font-weight: 600;
  display: block;
  padding-bottom: 0.5rem;
}

textarea {
  height: calc(149rem / 16);
}

/* interactive */

/* container */
.navbar,
.hbar {
  display: flex;
  align-items: center;
}

/* interactive items */
a.button,
button,
.fa-pen {
  margin-right: 0;
  margin-left: auto;
  text-transform: uppercase;
}

a,
button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  cursor: pointer;
}

a.button,
button {
  display: flex;
  font-size: 1rem;
  border: 0;
  border-radius: 0.25rem;
  height: 2rem;
  min-width: 4.5rem;
  align-items: center;
  justify-content: center;
}

dialog {
  border: 0;
  border-radius: 0.25rem;
}

dialog p {
  font-size: calc(7rem / 8);
  font-weight: 600;
  margin-bottom: 2rem;
}

/* items */
.form-item,
.entry-item,
.entry {
  margin-bottom: 2rem;
}

.form-item img,
.entry-item img {
  border-radius: 0.25rem;
  object-fit: cover;
}

/* functions */
li.empty:not(:only-child) {
  display: none;
}

/* one-offs */
.navbar a {
  margin: 0 1rem;
}

li.empty p {
  text-align: center;
}

ul,
div.plates {
  width: 100%;
}

/* desktop responsive */
@media screen and (width >=768px) {
  .container {
    padding: 0 5.1875rem;
  }
}

.plate {
  background-image: url('../images/Plate.svg');
  background-size: cover;
  width: 100%;
  aspect-ratio: 2/1;
  filter: drop-shadow(0 0.5rem 0.5rem rgba(41, 41, 41, 0.2));
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
}

input {
  position: relative;
  top: 12%;
  width: 100%;
  height: 50%;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: var(--font-sofia-sans);
  text-transform: uppercase;
  font-size: min(24vw, 12rem);
  font-weight: 400;
  text-align: center;
  font-stretch: condensed;
  color: var(--plate-text-color);
}

.suggestions input {
  font-size: min(12vw, 6rem);

  @media screen and (width >=768px) {
    font-size: min(8vw, 4rem);
  }
}

@media screen and (width >=768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }
}
